
/backend/node_modules
digital-event-planner/.angular/cache/19.1.4/digital-event-planner/.tsbuildinfo
digital-event-planner/.angular/cache/19.1.4/digital-event-planner/vite/deps/_metadata.json
digital-event-planner/.angular/cache/19.1.4/digital-event-planner/vite/deps_ssr/_metadata.json
