<div class="container">
    <nav class="navbar">
      <div class="navbar-container">
        <a routerLink="/home" class="logo">MyApp</a>
        <div class="navbar-links">
          <a href="/home">Home</a>
          <a href="/login">Login</a>
          <a href="/register">Register</a>
        </div>
      </div>
    </nav>
  
    <!-- Main Content -->
    <div class="main-content">
      <div *ngIf="isAuthenticated; else loginForm">
        <h1>Welcome, {{ email }}!</h1>
        <p>You're logged in. Explore our platform.</p>
        <div class="home-container">
            <app-calendar></app-calendar>
        </div>          
        <button (click)="logout()">Logout</button>
      </div>
  
      <ng-template #loginForm>
        <h1>Please log in to access the homepage</h1>
        <p><a href="/login">Login</a> or <a href="/register">Register</a></p>
      </ng-template>
    </div>
  
    <footer>
      <p>&copy; 2025 Digital Event Planner Szakdolgozat Béres Ákos</p>
    </footer>
  </div>
  