<table mat-table [dataSource]="users" class="mat-elevation-z1">
    <ng-container matColumnDef="_id">
      <th mat-header-cell *matHeaderCellDef>ID</th>
      <td mat-cell           *matCellDef="let u">{{u._id}}</td>
    </ng-container>
    <ng-container matColumnDef="username">
      <th mat-header-cell *matHeaderCellDef>Username</th>
      <td mat-cell           *matCellDef="let u">{{u.username}}</td>
    </ng-container>
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef>Email</th>
      <td mat-cell           *matCellDef="let u">{{u.email}}</td>
    </ng-container>
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell *matCellDef="let u">
        <button mat-button color="primary" *ngIf="u._id !== currentUserId" (click)="edit(u)">Szerkesztés</button>
        <button mat-button color="warn" *ngIf="u._id !== currentUserId" (click)="delete(u._id)">Törlés</button>
      </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row        *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  